<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xiaofu (Kaia) Li</title>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/more-style.css' | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="profile">
          <img src="/assets/img/kaia.jpg" alt="my profile pic" class="profile-pic">
          <h2>Xiaofu (Kaia) Li</h2>
          <p>Student at Stanford University</p>
          <a href="mailto:lixiaofu@stanford.edu" class="links">lixiaofu@stanford.edu</a>
          <div class="links">
            <a href="https://github.com/fullmoon-cat" target="_blank">GitHub</a> |
            <a href="https://www.linkedin.com/in/xiaofu-li-7ab922173/" target="_blank">LinkedIn</a>
          </div>  
        </div>
      </header>
  
      <section>
      {{ content }}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme based on <a href="https://github.com/orderedlist/minimal/">minimal</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
